:root {
    --cor-menubar: #0F0F23;
    --border-menubar: #2A2A4A;
    --text-inactive: #A1A1AA;
    --bg-text-inactive: #2A2A4A;
    --bg-text-active: #4F46E5;
    --bg-esquerdo: #1A1A2E;
    --bg-direito: #16213E;
    --bg-center: #1E1E3F;
}