:root {
    --cor-menubar: #0F0F23; --hover-menubar: #26265a; --active-menubar: rgb(23, 23, 52);
    --border-menubar: #2a2a4a;
    --text-inactive: #A1A1AA;
    --bg-text-inactive: #2A2A4A;
    --bg-text-active: #4F46E5;
    --bg-esquerdo: #1A1A2E;
    --bg-direito: #16213E;
    --bg-center: #1E1E3F;
}

.display-none{
    display: none;
}